[user]
    name = Ashu Goel
    email = asgoel13@gmail.com
[core]
    editor = /usr/bin/vim
[push]
    default = simple
[alias]
    ls = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    le = log --oneline --decorate
    st = status
    cl = clone
    ci = commit
    co = checkout
    br = branch
    diff = diff --word-diff
    cm = commit -m
    ca = commit --amend
    amend = commit --amend
    pr = pull --rebase
    prune = fetch --prune
    undo = reset --soft HEAD^
    stash-all = stash save --include-untracked

[color]
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = red reverse
    local = blue
    remote = green

[color "diff"]
    meta = yellow
    frag = magenta
    old = red bold
    new = green
    plain = white

[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[credential]
    helper = cache --timeout=3600
